.Input{
    display: flex;
    flex-direction: column;
    input{
        width: 380px;
        border-radius: 6px;
        height: 58px;
        border: 1px solid #bdcacf;
        text-indent: 15px;
        font-size: 16px;
        margin-bottom: 20px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    span{
        color: red;
        margin-bottom: 30px;
    }
    .inValid::placeholder{
        color: red
    }
}
@media screen and (max-width: 600px) {
    .Input{
        input{
            width: 200px
        }
    }
}